<!doctype html>
<html lang="is">

<head>
  <meta charset="utf-8">
  <title><%= locals.title ?? '' %></title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <main>
    <header>

      <nav>
        <ul>
          <li>
            <a href="/">FootyTracker</a>
          </li>
          <li><a href="/leikir">Leikir</a></li>
          <li><a href="/stada">Staða</a></li>
        <% if (locals.loggedIn) {%>
          <li><a href="/admin">Umsjón</a></li>
        <% } %>
        </ul>

        <div class="user">
        <% if (locals.loggedIn) { %>
            <p>Innskráður notandi: <%= locals.user.username %> </p>
            <a href="/logout">Útskrá</a>
        <% } else { %>
          <p>Þú ert ekki innskráður notandi.</p>
          <a href="/login">Innskrá</a>
        <% } %>
        </div>
      </nav>

      <h1><%= locals.title ?? '' %></h1>

    </header>
