<%- include('header') -%>

<% // Mock, en svona er greinilega hægt að ejs-a þetta %>
<% locals.games.forEach((game) => { %>
  <p><%= game.home.name %> vs <%= game.away.name %></p>
<% }) %>

<%- include('footer') -%>
