<%- include('header') -%>

<form method="post" action="/login" autocomplete="off" id="login">
  <label for="username">Notendanafn:</label>
  <input type="text" name="username">
  <label for="password">Lykilorð:</label>
  <input type="password" name="password">
  <button>Innskrá</button>
</form>

<% if ((locals.status) == 'failed') { %>
<div class="error">
  <p>Notandanafn eða lykilorð vitlaust.</p>
</div>
<% } %>

<%- include('footer') -%>
